*.bin
*.o
*.su
.boards.depend
.depend
.depend.*
*.map
*.img
*.srec

tools/img2srec
tools/mkenvimage
tools/mkimage

spl/u-boot-spl
u-boot
u-boot.rda

include/generated/


#arch/arm/cpu/armv7/rda/asm-offsets.s
#arch/arm/include/asm/arch
#arch/arm/include/asm/proc
#include/asm
#include/autoconf.mk
#include/autoconf.mk.dep
#include/config.h
#include/config.mk
#lib/asm-offsets.s
#spl/u-boot-spl.lds
#u-boot.lds

